html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

.main .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.main .form .ftrInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.main button {
  margin-top: 10px;
}
